.uli{
    max-width: 525px;
    max-height: 500px;
    padding: 0;
    margin: 3px;
    overflow-y: scroll;
    padding:0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

@media screen and (max-width: 400px){

    .uli{
      

    
    }

    body {
      
        
    }
    

    
    
}